@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Yellowtail&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Headings  */

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 150%;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 28px;
}

#h2-week {
    padding-top: 0;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

p {
    font-size: 18px;
    letter-spacing: 2px;
}

/*  Navbar  */

.navbar {
    background-color: rgba(55, 64, 119, 0.8);
}

.nav-item a {
    height: 60px;
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
}

.logo {
    text-decoration: none;
    font-family: 'Yellowtail', 'Poppins', sans-serif;
    font-size: 36px;
    color: #fff;
}
.nav-item a:hover, .logo:hover {
    color: rgb(197, 191, 195);
}

.nav-item a:active, .logo:active {
    color: rgb(191,147,151);
}

/*  Hero Image and Jumbotron  */

.hero-image {
    background: url("../images/cadillac_lounge.jpg") no-repeat center center fixed;
    height: 85em;
    background-size: cover;
    display: flex;
}

#jumbo-welcome {
    display: block;
    margin: auto;
    margin-top: 200px;
    background-color:  rgba(55, 64, 119, 0.5);
    color: #fff;
    text-align: center;
}

/*  About Us */

.about-box {
    padding: 0;
}

.about-us-page {
    color: #323232;
    width: 100%;
    line-height: 170%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 14vw;
    padding-right: 14vw;
}

.about-us-page p {
    display: block;
    margin: auto;
    max-width: 700px;
    min-width: 280px;
   
}

#hours-p {
    text-align: center;
}

/*  Events  */

.event-page {
    width: 100%;
    line-height: 170%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: inline-block;
    justify-content: space-evenly;
}

.event-box-p {
    color: #fff;
    width: 100%;
    max-width: 700px;
    min-width: 250px;
    background-color:  rgb(128, 115, 123);
    border-radius: 4px;
    margin-bottom: 2em;
    padding-top: 1em;
}

.event-btn {
    background-color: rgba(55, 64, 119, 0.8);
    color: #fff;
    border: none;
}

.event-btn:hover {
    background-color:rgb(207, 156, 105);
    color: #fff;
}

img {
   width: 100%;
   max-width: 800px;
   height: auto;
   margin: auto;
   border-radius: 4px;
   margin-bottom: 2em;
 }

.music-link {
    color: #fff;
    font-size: 20px;
}

.music-link:hover {
    color: rgb(204,102,0);
}


/* Contact Page  */

#contact-h1 {
    margin-top: 5vh;
}

/* Support from W3School in styling contact form  */

.jumbotron {
    max-width: 768px;
    min-width: 320px;
    display: block;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #fff;
}

input {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 2px;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

#reset-btn {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(55, 64, 119);
    border-radius: 4px;
    color: #fff;
    width: 10em;
    padding: 10px 24px;
    margin: 8px 2px;
    cursor: pointer;
}

#submit-btn {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(204,102,0);
    border-radius: 4px;
    color: #fff;
    width: 10em;
    padding: 10px 24px;
    margin: 8px 2px;
    cursor: pointer;
}

#reset-btn:hover {
    background-color: rgb(147, 156, 214);
    color: #fff;
}


#submit-btn:hover {
    background-color:rgb(207, 156, 105);
    color: #fff;

}

 /*  Footer  */

 .footer {
    clear: both;
    color: #fff;
    margin-top: 30px;
    height: 120px;
   
 }

 .footer-box {
    background-color: rgb(55, 64, 119);
    margin: 0;
 }

#social-media {
    font-size:2em;
    box-align: center;
}

.footer-links {
    list-style-type: none;
    text-align: center;
    padding-top: 30px;
    
}

.footer-links li {
    display: inline-block;
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 2%;
}

.footer-links i {
     color: #fff;
}

.footer-links i:hover {
    color: rgb(204,102,0);
}

#address-info {
   text-align: center;
}