@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Yellowtail&display=swap');

body {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Headings  */

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-clamp: 150%;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 28px;
}

#h2-week {
    padding-top: 0;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

p {
    font-size: 18px;
    letter-spacing: 2px;

}

/*  Navbar  */

.navbar {
    background-color: rgba(55, 64, 119, 0.8);
}

.nav-item a {
    height: 60px;
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
}

.logo {
    text-decoration: none;
    font-family: 'Yellowtail', 'Poppins', sans-serif;
    font-size: 36px;
    color: #fff;
}
.nav-item a:hover, .logo:hover {
    color: rgb(197, 191, 195);
}

.nav-item a:active, .logo:active {
    color: rgb(191,147,151);
}

/*  Hero Image and Jumbotron  */

.hero-image {
    background: url("../images/cadillac_lounge.jpg") no-repeat center center fixed;
    height: 85em;
    background-size: cover;
    display: flex;
}

.jumbotron {
    margin: auto;
    margin-top: 200px;
    background-color:  rgba(55, 64, 119, 0.5);
    color: #fff;
    text-align: center;
}

/*  About Us */

.about-box {
    padding: 0;
}

.about-us-page {
    
    background-color: rgb(90, 84, 88);
    color: #fff;
    width: 100%;
    line-height: 170%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 14vw;
    padding-right: 14vw;
}

.about-us-page p {
    padding-left: 8vw;
    padding-right: 8vw;
}

/*  Events  */

.event-box {
    background-color: rgb(175, 161, 170);
    color: #fff;
    width: 100%;
    line-height: 170%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: inline-block;
}

.event-box p {
    background-color:  rgb(128, 115, 123);
    border-radius: 4px;
    padding: 1em;
}

.music-link {
    color: rgb(94, 108, 191);
    font-size: 20px;
}

.music-link:hover {
    color: rgb(55, 64, 119);
}


/* Contact Page  */

.contact-image {
    background:  url("../images/friends_at_bar.jpg") no-repeat center center fixed;
    height: 65em;
    background-size: cover;
    display: flex;
}

.contact-form {
   text-align: center;
   
   
}

input {
    

}

 /*  Footer  */

 .footer {
    background-color: rgb(55, 64, 119);
    color: #fff;
    margin-top: 30px;
    height: 120px;
    margin-bottom: 0;
 }

 .footer-box {
    height: inherit;
 }

#social-media {
    font-size:2em;
    box-align: center;
}

.footer-links {
    list-style-type: none;
    text-align: center;
    padding-top: 30px;
    
}

.footer-links li {
    display: inline;
    margin-left: 5px;
    color: #fff;
}

#google-map i {
    font-size: 2em;
}